html {
  overflow-y: auto;
}

#network {
  height: auto;
  width:  100%;
  position: absolute;
  bottom: 0px;
  top: 34px;
}

.navbar {
  padding: .5rem;
  background-color: #16294a;
  min-height: 20px;
  .title {
    color: #b5c5dd;
    font-size: 16px;
    margin: 0;
  }
  a {
    color: #b5c5dd;
    font-size: 16px; 
    position: absolute;
    top: 4px;
    right: 10px;
  }
}

.opeBox {
  position: absolute;
  border: solid 1px #c7c7c7;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: rgba(255,255,255,70%);
}


.container {
  padding: 1.5rem;
}

.operation {
  text-align: center;
  padding-bottom: 5px;
  p {
    text-align: left;
  }
  input {
    margin-bottom: 5px;
  }
}

