html {
  overflow-y: auto;
}

#network {
  border: 1px solid #000;
  height: 500px;
  width:  100%;
}

.navbar {
  padding: .5rem;
  background-color: #16294a;
  min-height: 20px;
  .title {
    color: #b5c5dd;
    font-size: 16px;
  }
}

.container {
  padding: 1.5rem;
}

.operation {
  text-align: center;
  padding-bottom: 5px;
  p {
    text-align: left;
  }
  input {
    margin-bottom: 5px;
  }
}

